VITE_ZENON_NODE_WS=wss://node.zenon.network:35998
VITE_ZENON_CHAIN_ID=1
VITE_PLASMA_BOT_URL=https://plazma.bot
VITE_NOSTR_RELAYS=wss://relay.primal.net,wss://nos.lol,wss://offchain.pub
VITE_NOSTR_INBOX_RELAY=wss://auth.nostr1.com
VITE_SHORT_LOCK_SECONDS=1800
VITE_LONG_LOCK_SECONDS=3600
